{% assign keys = include.keys | sort_natural %}
{%- assign field = include.field -%}

<div class="page-segments">
  {% for key in keys %}
    <h2 id="{{ key }}" class="segment-name">{{ key }}</h2>
    <ul class="page-segments-list">
      {% assign items = site.posts | where: field, key %}
      {% assign sorted_items = items | sort: "title" %} {# optional sorting by title #}
      {% for item in sorted_items %}
        {% if item %}
          <li>{% include views/post-item.html item=item %}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>
